[submodule ".config/helix"]
	path = .config/helix
	url = https://github.com/heaths/helix
[submodule ".config/oh-my-posh"]
	path = .config/oh-my-posh
	url = https://github.com/heaths/oh-my-posh
[submodule ".config/powershell"]
	path = .config/powershell
	url = https://github.com/heaths/profile
[submodule ".config/zed"]
	path = .config/zed
	url = https://github.com/heaths/zed
[submodule ".vim"]
	path = .vim
	url = https://github.com/heaths/vimfiles
